@font-face {
    font-family: "NanumBarunGothic";
    font-style: normal;
    font-weight: 400;
    src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
    src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix") format("embedded-opentype"),
        url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff") format("woff"),
        url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf") format("truetype");
}

@font-face {
    font-family: "NanumBarunGothic";
    font-style: normal;
    font-weight: 700;
    src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
    src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix") format("embedded-opentype"),
        url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff") format("woff"),
        url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf") format("truetype");
}

@font-face {
    font-family: "NanumBarunGothic";
    font-style: normal;
    font-weight: 300;
    src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
    src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix") format("embedded-opentype"),
        url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff") format("woff"),
        url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf") format("truetype");
}

.nanumbarungothic * {
    font-family: "NanumBarunGothic", sans-serif;
}

@mixin center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    box-sizing: border-box;
    font-family: "NanumBarunGothic";
}

.container {
    width: 1280px;
    margin: 10px auto 40px;
    display: flex;
    flex-direction: column;
}
header {
    margin-bottom: 50px;
}

main {
    display: flex;
    flex-direction: row;
}

.header-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-btn {
        display: flex;
        flex-direction: row;
    }
}

.hamburger-btn-wrap {
    position: relative;
}

.hamburger-btn {
    width: 50px;
    height: 50px;
    position: relative;
    border: none;

    background: no-repeat center;
    background-image: url("./img/ham.png");
    background-size: 70px;

    &:hover {
        background-color: #eeeeee;
        border-radius: 50%;
    }
}

.shortcut-tooltip {
    display: none;

    position: absolute;
    left: -15px;
    top: 55px;

    &-contents {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90px;
        padding: 10px 5px;

        border: 1px solid #03c75a;
        border-radius: 30px;
        font-size: 14px;
    }

    &::after {
        content: "";
        background: no-repeat center;
        background-size: 15px;
        background-image: url("./img/arr.png");

        width: 15px;
        height: 15px;
        vertical-align: middle;
        margin-right: 5px;

        position: absolute;
        top: -11px;
        left: 35px;
        transform: scaleY(-1);
    }
}

.hamburger-btn:hover + .shortcut-tooltip {
    display: block;
}

.shortcut {
    display: none;
    background-color: #f2f2f2;
    border: 1px solid e4e6e9;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(218, 218, 218);
    width: 410px;
    z-index: 1;

    position: absolute;

    &-inner {
        height: 500px;
        overflow-y: scroll;
        padding-top: 56px;

        &::after {
            content: "";
            background: no-repeat center;
            background-size: 15px;
            background-image: url("./img/arg.png");

            width: 15px;
            height: 15px;
            vertical-align: middle;
            margin-right: 5px;

            position: absolute;
            top: -13px;
            left: 18px;
        }
    }

    &-wrap {
        margin-bottom: 20px;

        background-color: rgb(252, 252, 252);
        padding-bottom: 20px;
    }

    &-header {
        background-color: rgb(252, 252, 252);
        border-bottom: 1px solid lightgray;
        border-radius: 10px 0px 0px 0px;
        padding: 20px;
        font-weight: 600;
        width: 392px;
        position: absolute;
    }
    &-login > a {
        display: flex;
        flex-direction: row;
        padding: 20px;

        span {
            font-weight: 600;
        }
    }
    &-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 20px;

        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            &:hover {
                text-decoration: none;
            }

            span {
                font-size: 14px;
            }
        }
        span:nth-child(1) {
            font-weight: 600;
        }
    }

    &-btn {
        width: 50px;
        height: 50px;

        background: no-repeat center;
        background-image: url("./img/mail.png");
        background-size: 120px;
        margin-bottom: 5px;
    }

    &-service {
        background-color: rgb(252, 252, 252);
        margin-top: 20px;
        padding: 20px;

        .header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 20px;

            h3 {
                font-weight: 600;
            }
        }

        .service-search {
            display: flex;
            flex-direction: row;

            &::before {
                content: "";
                display: inline-block;
                background: no-repeat center;
                background-size: 15px;
                background-image: url("./img/search-wh.png");
                background-color: lightgray;

                width: 15px;
                height: 15px;
                margin-right: 5px;
                border: 1px solid lightgrey;
                border-radius: 50%;
            }
        }

        &-news,
        &-finance,
        &-entertainment,
        &-shopping,
        &-membership,
        &-mytool,
        &-certification,
        &-community,
        &-travel,
        &-dictionary {
            margin-bottom: 20px;
            box-shadow: 3px 3px 10px rgb(235, 234, 234);
            border-radius: 10px;
            background-color: white;

            span:nth-child(2) {
                color: #00a2ff;
            }

            .title {
                background-color: #e5f0f9;
                padding: 10px;
                font-size: 15px;
                border-radius: 10px 10px 0px 0px;
            }
            a {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: calc(100% / 2);
                margin-bottom: 10px;
            }
            .s-img {
                width: 30px;
                height: 30px;

                background: no-repeat center;
                background-image: url("./img/mail.png");
                background-size: 80px;
                margin-right: 5px;
            }
            .icon-wrap {
                display: flex;
                flex-wrap: wrap;
                padding: 10px;
            }
        }

        &-partners {
            background-color: white;
            margin-bottom: 30px;

            span:nth-child(2) {
                color: #00a2ff;
            }

            .title {
                background-color: #e5f0f9;
                padding: 10px;
                font-size: 15px;
                border-radius: 10px 10px 0px 0px;
            }

            .s-title {
                font-size: 14px;
                font-weight: 600;
                padding: 20px 10px 10px 10px;
            }

            .icon-wrap {
                padding: 10px;
            }

            a {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 10px;

                .s-img {
                    width: 30px;
                    height: 30px;

                    background: no-repeat center;
                    background-image: url("./img/mail.png");
                    background-size: 80px;
                    margin-right: 5px;
                }
            }
        }
    }
    &-footer {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-wrap {
            display: flex;
            flex-direction: row;
            justify-content: center;

            a {
                font-size: 14px;
                margin: 0px 10px 0px;

                &:hover {
                    text-decoration: none;
                }
            }
        }
        .naver-logo {
            width: 100px;
            height: 30px;

            background: no-repeat center;
            background-image: url("./img/naver.png");
            background-size: 100px;
        }
    }
}

.active {
    display: block;
}

.naverpay-wrap {
    position: relative;
}

.naverpay-btn {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;

    background: no-repeat center;
    background-image: url("./img/pay.png");
    background-size: 35px;

    &:hover {
        background-color: #eeeeee;
        border-radius: 50%;
    }
}
.naverpay-tooltip {
    display: none;

    position: absolute;
    left: -20px;
    top: 55px;

    &-contents {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;

        padding: 10px 5px;

        border: 1px solid #03c75a;
        border-radius: 30px;
        font-size: 14px;
    }

    &::after {
        content: "";
        background: no-repeat center;
        background-size: 15px;
        background-image: url("./img/arr.png");

        width: 15px;
        height: 15px;
        vertical-align: middle;
        margin-right: 5px;

        position: absolute;
        top: -11px;
        left: 38px;
        transform: scaleY(-1);
    }
}
.naverpay-btn:hover + .naverpay-tooltip {
    display: block;
}

.notice-wrap {
    position: relative;

    .notice-btn {
        display: block;
        width: 50px;
        height: 50px;

        background: no-repeat center;
        background-image: url("./img/noti.png");
        background-size: 70px;

        &:hover {
            background-color: #eeeeee;
            border-radius: 50%;
        }
    }
}

.notice-tooltip {
    display: none;

    position: absolute;
    left: -20px;
    top: 55px;

    &-contents {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;

        padding: 10px 5px;

        border: 1px solid #03c75a;
        border-radius: 30px;
        font-size: 14px;
    }

    &::after {
        content: "";
        background: no-repeat center;
        background-size: 15px;
        background-image: url("./img/arr.png");

        width: 15px;
        height: 15px;
        vertical-align: middle;
        margin-right: 5px;

        position: absolute;
        top: -11px;
        left: 38px;
        transform: scaleY(-1);
    }
}
.notice-btn:hover + .notice-tooltip {
    display: block;
}

.naver-search-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    .input-label {
        position: relative;

        .naver-search {
            width: 700px;
            height: 60px;

            border: 1px solid #03c75a;
            border-radius: 30px;
            outline: none;
            padding-left: 60px;
            padding-top: 5px;

            &:hover {
                box-shadow: 3px 3px 10px #d4d4d4;
            }

            &::placeholder {
                font-size: 20px;
            }
        }

        .n-logo {
            position: absolute;
            left: 0px;
            top: 0px;

            img {
                width: 60px;
            }
        }

        .btn-wrap {
            display: flex;
            align-items: center;

            position: absolute;

            right: 15px;
            top: 3px;
        }

        .keyboard {
            position: relative;
            display: block;
            background: no-repeat center;
            background-image: url("./img/k.png");
            background-size: 30px;

            width: 30px;
            height: 30px;
            border: none;

            .input-tool {
                display: none;
                position: absolute;
                top: -10px;
                right: -35px;

                background: no-repeat center;
                background-image: url("./img/kkk.png");
                background-size: 70px;

                width: 100px;
                height: 100px;
            }
            &:hover .input-tool {
                display: block;
            }
        }

        .arrow-down {
            display: block;
            background: no-repeat center;
            background-image: url("./img/ar.png");
            background-size: 15px;

            width: 30px;
            height: 30px;
            border: none;
        }
        .search {
            display: block;
            background: no-repeat center;
            background-image: url("./img/i-se.png");
            background-size: 30px;

            width: 30px;
            height: 60px;
            border: none;
        }
    }
}

.menu-icon {
    display: flex;
    justify-content: space-around;

    width: 50%;
    margin: 0 auto;
    flex-direction: row;
}

.mail > a {
    @include center;

    &:hover {
        text-decoration: none;
    }
}

.img-btn {
    width: 50px;
    height: 60px;

    background: no-repeat center;
    background-image: url("./img/mail.png");
    background-size: 130px;

    &:hover {
        filter: drop-shadow(1px 2px 2px #c1c1c1);
    }
}

.section-left {
    width: 830px;
    margin-right: 30px;

    &-news {
        border: 1px solid lightgray;
        border-radius: 10px;
        margin: 0px auto 20px;
    }
}
.news-wrap {
    border-bottom: 1px solid lightgray;
    padding: 20px;
}
.news-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 20px;
    font-size: 17px;
    color: #999;

    li:nth-child(4) {
        display: flex;
        align-items: center;
    }

    .newsstand-wrap,
    .newsedit-wrap {
        position: relative;
    }

    .newsstand-tooltip {
        display: none;

        position: absolute;
        top: -50px;
        background-color: white;

        &-contents {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 250px;
            padding: 10px 5px;

            font-size: 14px;
            border: 1px solid #03c75a;
            border-radius: 30px;
            color: #666;
        }

        &::after {
            content: "";
            background: no-repeat center;
            background-size: 15px;
            background-image: url("./img/arr.png");
            background-color: white;

            width: 15px;
            height: 15px;
            margin-right: 5px;

            position: absolute;
            top: 32px;
            left: 38px;
        }
    }
    .newsstand-wrap:hover .newsstand-tooltip {
        display: block;
    }

    .newsedit-tooltip {
        display: none;

        position: absolute;
        top: -50px;
        right: -30px;
        background-color: white;

        &-contents {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 250px;
            padding: 10px 5px;

            font-size: 14px;
            border: 1px solid #03c75a;
            border-radius: 30px;
            color: #666;
        }

        &::after {
            content: "";
            background: no-repeat center;
            background-size: 15px;
            background-image: url("./img/arr.png");
            background-color: white;

            width: 15px;
            height: 15px;
            margin-right: 5px;

            position: absolute;
            top: 32px;
            right: 64px;
        }
    }
    .newsedit-wrap:hover .newsedit-tooltip {
        display: block;
    }

    a {
        margin: 0px 8px;
        color: #666;

        &:focus {
            font-weight: 600;
            color: black;
        }
    }
    .sport-live {
        display: inline-block;
        width: 50px;
        text-align: center;
        font-size: 14px;
        padding: 3px;

        background-color: red;
        border-radius: 15px;
        color: white;
        margin-right: 5px;
    }
}
.news-title {
    display: flex;
    justify-content: space-between;

    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}
.news-list {
    display: flex;
    flex-wrap: wrap;

    li {
        display: flex;
        justify-content: center;

        width: calc(100% / 6);
        border: 1px solid lightgray;
        padding: 20px 0px;

        &:hover {
            background-color: #00a2ff;
        }
        &:hover .news-logo {
            display: none;
        }
        .add-contents {
            display: none;
            color: white;

            a {
                color: white;
                font-weight: 600;
            }
        }

        &:hover .add-contents {
            display: block;
        }
    }
}
.more-news {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    padding: 10px;

    div {
        margin: 0 10px;
        font-size: 14px;

        span {
            color: #00a2ff;
        }
    }

    .arrow-left,
    .arrow-right {
        font-size: 18px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid lightgray;
        background-color: white;
    }

    .view-btn-wrap {
        position: absolute;
        right: 0px;

        button:first-child {
            background: no-repeat center;
            background-size: 30px;
            background-image: url("./img/me.png");

            width: 40px;
            height: 40px;
            border: none;

            &:hover {
                background: no-repeat center;
                background-size: 28px;
                background-image: url("./img/me-g.png");

                width: 40px;
                height: 40px;
                border: none;
            }
        }
        button:last-child {
            background: no-repeat center;
            background-size: 35px;
            background-image: url("./img/b.png");

            width: 40px;
            height: 40px;
            border: none;

            &:hover {
                background: no-repeat center;
                background-size: 30px;
                background-image: url("./img/b-b.png");

                width: 40px;
                height: 40px;
                border: none;
            }
        }
    }
}

.section-left-recommendation {
    border: 1px solid lightgray;
    border-radius: 10px;
}
.recommendation-wrap {
    border-bottom: 1px solid lightgray;
    padding: 20px;
}
.recommendation-header {
    display: flex;
    flex-direction: row;

    margin-bottom: 20px;
    font-size: 17px;
    color: #999;

    a {
        color: #666;
        margin: 0 8px;

        &:focus {
            font-weight: 600;
            color: black;
        }
    }
}
.list-btn-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    padding: 5px;

    a {
        padding-right: 10px;
        font-weight: 600;
        font-size: 15px;
    }
}

.list-btn {
    display: flex;

    li {
        margin-right: 3px;
    }

    & > li button {
        width: 60px;
        height: 40px;
        font-size: 16px;

        border: 1px solid lightgray;
        background-color: white;
        border-radius: 20px;

        &:hover {
            background-color: #eeeeee;
        }
    }
    & > li:nth-child(1) button {
        background-color: #00a2ff;
        color: white;
    }

    & > li:nth-child(2) button {
        border: 1px solid lightblue;
    }

    & > li:nth-child(7) button {
        width: 90px;
    }
}

.article-wrap {
    display: flex;
    flex-wrap: wrap;
}

//추천, 구독
.recommendation-article {
    display: flex;
    flex-direction: column;

    width: calc(100% / 4 - 10px);

    margin: 10px 10px 20px 0px;

    .img-warp {
        height: 120px;
        overflow: hidden;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    img {
        width: 100%;
        height: 100%;

        &:hover {
            transition: all 0.6s;
            transform: scale(1.1);
        }
    }

    div:nth-child(2) {
        margin-bottom: 5px;
    }

    div:nth-child(3) {
        display: flex;
        align-items: center;
    }

    .s-logo {
        background: no-repeat center;
        background-image: url("./img/logo.jpg");
        background-size: 20px;

        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 5px;
    }
}
.more-btn {
    display: flex;
    justify-content: center;

    button {
        width: 100%;
        padding: 20px;
        border: none;
        border-radius: 10px;
        background-color: white;

        font-weight: 600;
    }
    span {
        color: #00a2ff;
    }
}

//오른쪽부분
aside {
    width: 420px;
    // position: sticky;

    .login {
        border: 1px solid lightgray;
        border-radius: 10px;
        margin-bottom: 20px;

        &-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;

            padding: 20px;
        }

        &-header {
            margin-bottom: 15px;
            font-size: 14px;
        }

        &-naver {
            display: flex;
            justify-content: center;

            width: 100%;
            margin-bottom: 15px;
            padding: 20px;
            border-radius: 5px;
            background-color: #03c75a;

            &:hover {
                text-decoration: none;
                background-color: #04a74d;
            }

            div:first-child {
                background: no-repeat center;
                background-image: url("./img/naver.png");
                background-size: 100%;

                width: 100px;
            }
            div:last-child {
                color: white;
            }
        }
        &-find {
            font-size: 14px;
            color: #666;
        }
    }
    //날씨
    .weather {
        border: 1px solid lightgray;
        border-radius: 10px;
        margin-bottom: 20px;

        &-wrap {
            padding: 20px;
        }

        &-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 15px;

            border-bottom: 1px solid lightgray;

            div:first-child {
                display: flex;
                align-items: center;

                a:nth-child(1) {
                    margin-right: 5px;
                    font-weight: 600;
                }

                a:nth-child(2) {
                    width: 80px;

                    padding: 5px;

                    border: 1px solid lightgray;
                    border-radius: 20px;
                    font-size: 12px;
                    text-decoration: none;

                    &:hover {
                        background-color: #eeeeee;
                    }

                    &::before {
                        content: "";
                        display: inline-block;
                        background: no-repeat center;
                        background-size: 15px;
                        background-image: url("./img/tem.png");

                        width: 15px;
                        height: 15px;
                        vertical-align: middle;
                        margin-right: 5px;
                    }
                }
            }
        }

        &-location {
            font-size: 14px;
        }

        &-inner {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;

            .temperature {
                display: flex;
                flex-direction: column;
            }
        }

        &-info {
            display: flex;
            flex-direction: column;
            align-items: center;

            &-now {
                display: flex;
                flex-direction: row;

                margin-bottom: 20px;

                img {
                    width: 60px;
                    margin-right: 10px;
                }
                div:first-child {
                    font-size: 40px;
                    margin-bottom: 5px;
                }
                div:last-child {
                    font-size: 14px;
                }
            }

            &-detail {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 14px;

                div:nth-child(1) {
                    margin-bottom: 10px;
                    span:nth-child(1) {
                        color: lightskyblue;
                    }
                    span:nth-child(2) {
                        color: red;
                    }
                }
                div:nth-child(2) {
                    span {
                        color: lightskyblue;
                    }
                }
            }
            a {
                text-decoration: none;
            }
        }
        &-graph {
            width: 50%;
            border: 1px solid lightgray;
        }
    }
    //주식
    .stock {
        border: 1px solid lightgray;
        border-radius: 10px;
        margin-bottom: 20px;

        &-wrap {
            padding: 20px;
        }
        &-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 15px;

            border-bottom: 1px solid lightgray;

            button:nth-child(2) {
                width: 20px;

                border: 1px solid lightgray;
                border-radius: 50%;
                background-color: white;
                color: lightgray;
            }
            .reload {
                display: block;
                background: no-repeat center;
                background-image: url("./img/reload.png");
                background-size: 20px;
                width: 30px;
                height: 20px;

                border: none;
            }
        }
        &-time {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 14px;
        }
        &-info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            div:first-child {
                width: 50%;
                // border: 1px solid lightgray;
            }

            div:last-child {
                width: 50%;

                ul {
                    li {
                        display: flex;
                        justify-content: space-between;

                        border-bottom: 1px solid lightgray;
                        padding: 10px 0px;
                    }
                }
            }
        }
    }
    //위젯
    .widget {
        border: 1px solid lightgray;
        border-radius: 10px;
        background-color: #f4f6fa;

        &-wrap {
            padding: 20px;
        }

        &-title {
            font-weight: 600;
            margin-bottom: 20px;
        }
        &-inner {
            display: flex;
            flex-wrap: wrap;

            article {
                width: calc(100% / 2 - 5px);
                height: 200px;

                margin-bottom: 10px;
                margin-right: 5px;

                border-radius: 10px;
                background-color: white;
            }
        }
        &-calendar {
            border: 1px solid lightgray;
            padding: 20px;

            div:nth-child(1) {
                margin-bottom: 10px;
                font-weight: 600;
            }
            div:nth-child(2) {
                margin-bottom: 80px;
            }
            span:nth-child(1) {
                font-size: 36px;
                margin-right: 5px;
            }
        }
        &-memo {
            border: 1px solid lightgray;

            div {
                font-weight: 600;
                color: white;
                background-color: #03c75a;

                margin-bottom: 105px;
                padding: 20px;
                border-radius: 10px 10px 0px 0px;
            }
            a {
                padding-left: 20px;
            }
        }
        &-papago {
            border: 1px solid lightgray;
            padding: 20px;

            img {
                width: 80px;
            }

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;

                height: 150px;
            }

            button {
                width: 120px;
                height: 40px;
                border-radius: 30px;
                border: none;
                color: white;
                font-weight: 600;
                background-color: #00a2ff;

                &:hover {
                    background-color: #0285d1;
                }
            }
        }
        &-dictionary {
            border: 1px solid lightgray;
            padding: 20px;

            span {
                font-weight: 600;
            }
            p {
                height: 55%;

                margin-top: 20px;
                font-size: 20px;

                &:hover {
                    font-size: 0px;
                }

                &:hover::before {
                    font-size: 16px;
                    content: "무엇을 먹어야 할지 아는 것은 매우 혼란스럽다";
                }
            }
            div {
                display: flex;
                justify-content: flex-end;

                button {
                    display: block;
                    background: no-repeat center;
                    background-image: url("./img/search.png");
                    background-size: 25px;

                    padding: 20px;

                    border: 1px solid lightgray;
                    border-radius: 50%;

                    &:hover {
                        background: no-repeat center;
                        background-image: url("./img/search-w.png");
                        background-size: 25px;
                        background-color: #004f7c;
                        background-position: 93%;

                        width: 150px;
                        border-radius: 20px;
                    }
                    &:hover {
                        padding: 10px;
                    }

                    &:hover::before {
                        content: "단어 검색하기";
                        font-size: 14px;
                        margin-right: 15px;
                        color: white;
                        font-weight: 600;
                    }
                }
            }
        }
        &-now {
            padding: 20px;
            border: 1px solid lightgray;
            border-radius: 10px;
            background-color: white;
            overflow: hidden;

            img {
                width: 50px;
                margin-bottom: 10px;
            }
            ul {
                display: flex;

                div {
                    border: 1px solid lightgray;
                    border-radius: 10px;
                    width: 90px;
                    height: 120px;

                    margin: 0px 10px 15px 0px;
                }
            }
        }
    }
    .asdie-open-mobile {
        padding: 0px 20px 20px;
        display: flex;
        justify-content: space-between;

        div {
            display: flex;
            align-items: center;
        }

        .nlogo-small {
            display: block;
            background: no-repeat center;
            background-image: url("./img/nn.png");
            background-size: 20px;
            width: 20px;
            height: 20px;

            margin-right: 10px;
        }

        span:nth-child(2) {
            font-weight: 600;
            margin-right: 5px;
        }
    }
}

//footer
footer {
    background-color: rgb(243, 243, 243);
    border-top: 1px solid lightgray;
    padding-top: 60px;
    padding-bottom: 40px;
}
.footer-wrap {
    width: 70%;
    margin: 0 auto;
    font-size: 15px;

    .footer-notice {
        display: flex;
        justify-content: space-between;

        padding: 20px 0px;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;

        a:first-child {
            font-weight: 600;
        }
    }

    .footer-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid lightgray;

        h3 {
            font-weight: 600;
            margin-right: 20px;
        }

        .creators,
        .partners,
        .developers {
            display: flex;
            flex-direction: row;

            margin: 20px 0px;

            a {
                margin: 0px 10px;
            }
        }

        &-right {
            display: flex;

            .footer-whale {
                margin-right: 50px;
            }

            .footer-whale,
            .footer-project {
                display: flex;
                flex-direction: row;

                div {
                    display: flex;
                    flex-direction: column;
                    margin-right: 30px;
                }

                span:first-child {
                    font-weight: 600;
                    margin-bottom: 10px;
                }
                span:last-child {
                    font-size: 14px;
                }

                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }
        &-bottom {
            .bottom-wrap {
                display: flex;
                justify-content: center;
                margin: 40px 0px;

                a {
                    margin: 0px 10px;
                }
                a:nth-child(5),
                a:nth-child(9) {
                    font-weight: 600;
                }
            }
        }
    }
}
