@charset "UTF-8";
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf") format("truetype");
}
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf") format("truetype");
}
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf") format("truetype");
}
.nanumbarungothic * {
  font-family: "NanumBarunGothic", sans-serif;
}

* {
  box-sizing: border-box;
  font-family: "NanumBarunGothic";
}

.container {
  width: 1280px;
  margin: 10px auto 40px;
  display: flex;
  flex-direction: column;
}

header {
  margin-bottom: 50px;
}

main {
  display: flex;
  flex-direction: row;
}

.header-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-wrap-btn {
  display: flex;
  flex-direction: row;
}

.hamburger-btn-wrap {
  position: relative;
}

.hamburger-btn {
  width: 50px;
  height: 50px;
  position: relative;
  border: none;
  background: no-repeat center;
  background-image: url("./img/ham.png");
  background-size: 70px;
}
.hamburger-btn:hover {
  background-color: #eeeeee;
  border-radius: 50%;
}

.shortcut-tooltip {
  display: none;
  position: absolute;
  left: -15px;
  top: 55px;
}
.shortcut-tooltip-contents {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  padding: 10px 5px;
  border: 1px solid #03c75a;
  border-radius: 30px;
  font-size: 14px;
}
.shortcut-tooltip::after {
  content: "";
  background: no-repeat center;
  background-size: 15px;
  background-image: url("./img/arr.png");
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-right: 5px;
  position: absolute;
  top: -11px;
  left: 35px;
  transform: scaleY(-1);
}

.hamburger-btn:hover + .shortcut-tooltip {
  display: block;
}

.shortcut {
  display: none;
  background-color: #f2f2f2;
  border: 1px solid e4e6e9;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgb(218, 218, 218);
  width: 410px;
  z-index: 1;
  position: absolute;
}
.shortcut-inner {
  height: 500px;
  overflow-y: scroll;
  padding-top: 56px;
}
.shortcut-inner::after {
  content: "";
  background: no-repeat center;
  background-size: 15px;
  background-image: url("./img/arg.png");
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-right: 5px;
  position: absolute;
  top: -13px;
  left: 18px;
}
.shortcut-wrap {
  margin-bottom: 20px;
  background-color: rgb(252, 252, 252);
  padding-bottom: 20px;
}
.shortcut-header {
  background-color: rgb(252, 252, 252);
  border-bottom: 1px solid lightgray;
  border-radius: 10px 0px 0px 0px;
  padding: 20px;
  font-weight: 600;
  width: 392px;
  position: absolute;
}
.shortcut-login > a {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.shortcut-login > a span {
  font-weight: 600;
}
.shortcut-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
}
.shortcut-list a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shortcut-list a:hover {
  text-decoration: none;
}
.shortcut-list a span {
  font-size: 14px;
}
.shortcut-list span:nth-child(1) {
  font-weight: 600;
}
.shortcut-btn {
  width: 50px;
  height: 50px;
  background: no-repeat center;
  background-image: url("./img/mail.png");
  background-size: 120px;
  margin-bottom: 5px;
}
.shortcut-service {
  background-color: rgb(252, 252, 252);
  margin-top: 20px;
  padding: 20px;
}
.shortcut-service .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.shortcut-service .header h3 {
  font-weight: 600;
}
.shortcut-service .service-search {
  display: flex;
  flex-direction: row;
}
.shortcut-service .service-search::before {
  content: "";
  display: inline-block;
  background: no-repeat center;
  background-size: 15px;
  background-image: url("./img/search-wh.png");
  background-color: lightgray;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border: 1px solid lightgrey;
  border-radius: 50%;
}
.shortcut-service-news, .shortcut-service-finance, .shortcut-service-entertainment, .shortcut-service-shopping, .shortcut-service-membership, .shortcut-service-mytool, .shortcut-service-certification, .shortcut-service-community, .shortcut-service-travel, .shortcut-service-dictionary {
  margin-bottom: 20px;
  box-shadow: 3px 3px 10px rgb(235, 234, 234);
  border-radius: 10px;
  background-color: white;
}
.shortcut-service-news span:nth-child(2), .shortcut-service-finance span:nth-child(2), .shortcut-service-entertainment span:nth-child(2), .shortcut-service-shopping span:nth-child(2), .shortcut-service-membership span:nth-child(2), .shortcut-service-mytool span:nth-child(2), .shortcut-service-certification span:nth-child(2), .shortcut-service-community span:nth-child(2), .shortcut-service-travel span:nth-child(2), .shortcut-service-dictionary span:nth-child(2) {
  color: #00a2ff;
}
.shortcut-service-news .title, .shortcut-service-finance .title, .shortcut-service-entertainment .title, .shortcut-service-shopping .title, .shortcut-service-membership .title, .shortcut-service-mytool .title, .shortcut-service-certification .title, .shortcut-service-community .title, .shortcut-service-travel .title, .shortcut-service-dictionary .title {
  background-color: #e5f0f9;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px 10px 0px 0px;
}
.shortcut-service-news a, .shortcut-service-finance a, .shortcut-service-entertainment a, .shortcut-service-shopping a, .shortcut-service-membership a, .shortcut-service-mytool a, .shortcut-service-certification a, .shortcut-service-community a, .shortcut-service-travel a, .shortcut-service-dictionary a {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
  margin-bottom: 10px;
}
.shortcut-service-news .s-img, .shortcut-service-finance .s-img, .shortcut-service-entertainment .s-img, .shortcut-service-shopping .s-img, .shortcut-service-membership .s-img, .shortcut-service-mytool .s-img, .shortcut-service-certification .s-img, .shortcut-service-community .s-img, .shortcut-service-travel .s-img, .shortcut-service-dictionary .s-img {
  width: 30px;
  height: 30px;
  background: no-repeat center;
  background-image: url("./img/mail.png");
  background-size: 80px;
  margin-right: 5px;
}
.shortcut-service-news .icon-wrap, .shortcut-service-finance .icon-wrap, .shortcut-service-entertainment .icon-wrap, .shortcut-service-shopping .icon-wrap, .shortcut-service-membership .icon-wrap, .shortcut-service-mytool .icon-wrap, .shortcut-service-certification .icon-wrap, .shortcut-service-community .icon-wrap, .shortcut-service-travel .icon-wrap, .shortcut-service-dictionary .icon-wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.shortcut-service-partners {
  background-color: white;
  margin-bottom: 30px;
}
.shortcut-service-partners span:nth-child(2) {
  color: #00a2ff;
}
.shortcut-service-partners .title {
  background-color: #e5f0f9;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px 10px 0px 0px;
}
.shortcut-service-partners .s-title {
  font-size: 14px;
  font-weight: 600;
  padding: 20px 10px 10px 10px;
}
.shortcut-service-partners .icon-wrap {
  padding: 10px;
}
.shortcut-service-partners a {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.shortcut-service-partners a .s-img {
  width: 30px;
  height: 30px;
  background: no-repeat center;
  background-image: url("./img/mail.png");
  background-size: 80px;
  margin-right: 5px;
}
.shortcut-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shortcut-footer-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.shortcut-footer-wrap a {
  font-size: 14px;
  margin: 0px 10px 0px;
}
.shortcut-footer-wrap a:hover {
  text-decoration: none;
}
.shortcut-footer .naver-logo {
  width: 100px;
  height: 30px;
  background: no-repeat center;
  background-image: url("./img/naver.png");
  background-size: 100px;
}

.active {
  display: block;
}

.naverpay-wrap {
  position: relative;
}

.naverpay-btn {
  display: block;
  position: relative;
  width: 50px;
  height: 50px;
  background: no-repeat center;
  background-image: url("./img/pay.png");
  background-size: 35px;
}
.naverpay-btn:hover {
  background-color: #eeeeee;
  border-radius: 50%;
}

.naverpay-tooltip {
  display: none;
  position: absolute;
  left: -20px;
  top: 55px;
}
.naverpay-tooltip-contents {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  padding: 10px 5px;
  border: 1px solid #03c75a;
  border-radius: 30px;
  font-size: 14px;
}
.naverpay-tooltip::after {
  content: "";
  background: no-repeat center;
  background-size: 15px;
  background-image: url("./img/arr.png");
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-right: 5px;
  position: absolute;
  top: -11px;
  left: 38px;
  transform: scaleY(-1);
}

.naverpay-btn:hover + .naverpay-tooltip {
  display: block;
}

.notice-wrap {
  position: relative;
}
.notice-wrap .notice-btn {
  display: block;
  width: 50px;
  height: 50px;
  background: no-repeat center;
  background-image: url("./img/noti.png");
  background-size: 70px;
}
.notice-wrap .notice-btn:hover {
  background-color: #eeeeee;
  border-radius: 50%;
}

.notice-tooltip {
  display: none;
  position: absolute;
  left: -20px;
  top: 55px;
}
.notice-tooltip-contents {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  padding: 10px 5px;
  border: 1px solid #03c75a;
  border-radius: 30px;
  font-size: 14px;
}
.notice-tooltip::after {
  content: "";
  background: no-repeat center;
  background-size: 15px;
  background-image: url("./img/arr.png");
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-right: 5px;
  position: absolute;
  top: -11px;
  left: 38px;
  transform: scaleY(-1);
}

.notice-btn:hover + .notice-tooltip {
  display: block;
}

.naver-search-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.naver-search-wrap .input-label {
  position: relative;
}
.naver-search-wrap .input-label .naver-search {
  width: 700px;
  height: 60px;
  border: 1px solid #03c75a;
  border-radius: 30px;
  outline: none;
  padding-left: 60px;
  padding-top: 5px;
}
.naver-search-wrap .input-label .naver-search:hover {
  box-shadow: 3px 3px 10px #d4d4d4;
}
.naver-search-wrap .input-label .naver-search::-moz-placeholder {
  font-size: 20px;
}
.naver-search-wrap .input-label .naver-search::placeholder {
  font-size: 20px;
}
.naver-search-wrap .input-label .n-logo {
  position: absolute;
  left: 0px;
  top: 0px;
}
.naver-search-wrap .input-label .n-logo img {
  width: 60px;
}
.naver-search-wrap .input-label .btn-wrap {
  display: flex;
  align-items: center;
  position: absolute;
  right: 15px;
  top: 3px;
}
.naver-search-wrap .input-label .keyboard {
  position: relative;
  display: block;
  background: no-repeat center;
  background-image: url("./img/k.png");
  background-size: 30px;
  width: 30px;
  height: 30px;
  border: none;
}
.naver-search-wrap .input-label .keyboard .input-tool {
  display: none;
  position: absolute;
  top: -10px;
  right: -35px;
  background: no-repeat center;
  background-image: url("./img/kkk.png");
  background-size: 70px;
  width: 100px;
  height: 100px;
}
.naver-search-wrap .input-label .keyboard:hover .input-tool {
  display: block;
}
.naver-search-wrap .input-label .arrow-down {
  display: block;
  background: no-repeat center;
  background-image: url("./img/ar.png");
  background-size: 15px;
  width: 30px;
  height: 30px;
  border: none;
}
.naver-search-wrap .input-label .search {
  display: block;
  background: no-repeat center;
  background-image: url("./img/i-se.png");
  background-size: 30px;
  width: 30px;
  height: 60px;
  border: none;
}

.menu-icon {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
  flex-direction: row;
}

.mail > a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mail > a:hover {
  text-decoration: none;
}

.img-btn {
  width: 50px;
  height: 60px;
  background: no-repeat center;
  background-image: url("./img/mail.png");
  background-size: 130px;
}
.img-btn:hover {
  filter: drop-shadow(1px 2px 2px #c1c1c1);
}

.section-left {
  width: 830px;
  margin-right: 30px;
}
.section-left-news {
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 0px auto 20px;
}

.news-wrap {
  border-bottom: 1px solid lightgray;
  padding: 20px;
}

.news-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  font-size: 17px;
  color: #999;
}
.news-header li:nth-child(4) {
  display: flex;
  align-items: center;
}
.news-header .newsstand-wrap,
.news-header .newsedit-wrap {
  position: relative;
}
.news-header .newsstand-tooltip {
  display: none;
  position: absolute;
  top: -50px;
  background-color: white;
}
.news-header .newsstand-tooltip-contents {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  padding: 10px 5px;
  font-size: 14px;
  border: 1px solid #03c75a;
  border-radius: 30px;
  color: #666;
}
.news-header .newsstand-tooltip::after {
  content: "";
  background: no-repeat center;
  background-size: 15px;
  background-image: url("./img/arr.png");
  background-color: white;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  position: absolute;
  top: 32px;
  left: 38px;
}
.news-header .newsstand-wrap:hover .newsstand-tooltip {
  display: block;
}
.news-header .newsedit-tooltip {
  display: none;
  position: absolute;
  top: -50px;
  right: -30px;
  background-color: white;
}
.news-header .newsedit-tooltip-contents {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  padding: 10px 5px;
  font-size: 14px;
  border: 1px solid #03c75a;
  border-radius: 30px;
  color: #666;
}
.news-header .newsedit-tooltip::after {
  content: "";
  background: no-repeat center;
  background-size: 15px;
  background-image: url("./img/arr.png");
  background-color: white;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  position: absolute;
  top: 32px;
  right: 64px;
}
.news-header .newsedit-wrap:hover .newsedit-tooltip {
  display: block;
}
.news-header a {
  margin: 0px 8px;
  color: #666;
}
.news-header a:focus {
  font-weight: 600;
  color: black;
}
.news-header .sport-live {
  display: inline-block;
  width: 50px;
  text-align: center;
  font-size: 14px;
  padding: 3px;
  background-color: red;
  border-radius: 15px;
  color: white;
  margin-right: 5px;
}

.news-title {
  display: flex;
  justify-content: space-between;
  background-color: rgb(238, 238, 238);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.news-list {
  display: flex;
  flex-wrap: wrap;
}
.news-list li {
  display: flex;
  justify-content: center;
  width: 16.6666666667%;
  border: 1px solid lightgray;
  padding: 20px 0px;
}
.news-list li:hover {
  background-color: #00a2ff;
}
.news-list li:hover .news-logo {
  display: none;
}
.news-list li .add-contents {
  display: none;
  color: white;
}
.news-list li .add-contents a {
  color: white;
  font-weight: 600;
}
.news-list li:hover .add-contents {
  display: block;
}

.more-news {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 10px;
}
.more-news div {
  margin: 0 10px;
  font-size: 14px;
}
.more-news div span {
  color: #00a2ff;
}
.more-news .arrow-left,
.more-news .arrow-right {
  font-size: 18px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid lightgray;
  background-color: white;
}
.more-news .view-btn-wrap {
  position: absolute;
  right: 0px;
}
.more-news .view-btn-wrap button:first-child {
  background: no-repeat center;
  background-size: 30px;
  background-image: url("./img/me.png");
  width: 40px;
  height: 40px;
  border: none;
}
.more-news .view-btn-wrap button:first-child:hover {
  background: no-repeat center;
  background-size: 28px;
  background-image: url("./img/me-g.png");
  width: 40px;
  height: 40px;
  border: none;
}
.more-news .view-btn-wrap button:last-child {
  background: no-repeat center;
  background-size: 35px;
  background-image: url("./img/b.png");
  width: 40px;
  height: 40px;
  border: none;
}
.more-news .view-btn-wrap button:last-child:hover {
  background: no-repeat center;
  background-size: 30px;
  background-image: url("./img/b-b.png");
  width: 40px;
  height: 40px;
  border: none;
}

.section-left-recommendation {
  border: 1px solid lightgray;
  border-radius: 10px;
}

.recommendation-wrap {
  border-bottom: 1px solid lightgray;
  padding: 20px;
}

.recommendation-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  font-size: 17px;
  color: #999;
}
.recommendation-header a {
  color: #666;
  margin: 0 8px;
}
.recommendation-header a:focus {
  font-weight: 600;
  color: black;
}

.list-btn-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: #f5f7f8;
  border-radius: 5px;
  padding: 5px;
}
.list-btn-wrap a {
  padding-right: 10px;
  font-weight: 600;
  font-size: 15px;
}

.list-btn {
  display: flex;
}
.list-btn li {
  margin-right: 3px;
}
.list-btn > li button {
  width: 60px;
  height: 40px;
  font-size: 16px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 20px;
}
.list-btn > li button:hover {
  background-color: #eeeeee;
}
.list-btn > li:nth-child(1) button, .list-btn > li:nth-child(2) button {
  border: 1px solid lightblue;
}
.list-btn > li:nth-child(7) button {
  width: 90px;
}
.list-btn li button:focus {
  background-color: #00a2ff;
  color: white;
}
.list-btn li:nth-child(4) button:focus {
  background-color: #448fc3;
  color: white;
}
.list-btn li:nth-child(5) button:focus {
  background-color: #5188dc;
  color: white;
}
.list-btn li:nth-child(6) button:focus {
  background-color: #538fa2;
  color: white;
}
.list-btn li:nth-child(7) button:focus {
  background-color: #956bb9;
  color: white;
}
.list-btn li:nth-child(8) button:focus {
  background-color: #638bc7;
  color: white;
}
.list-btn li:nth-child(9) button:focus {
  background-color: #8284a7;
  color: white;
}

.article-wrap {
  display: flex;
  flex-wrap: wrap;
}

.recommendation-article {
  display: flex;
  flex-direction: column;
  width: calc(25% - 10px);
  margin: 10px 10px 20px 0px;
}
.recommendation-article .img-warp {
  height: 120px;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 5px;
}
.recommendation-article img {
  width: 100%;
  height: 100%;
}
.recommendation-article img:hover {
  transition: all 0.6s;
  transform: scale(1.1);
}
.recommendation-article div:nth-child(2) {
  margin-bottom: 5px;
}
.recommendation-article div:nth-child(3) {
  display: flex;
  align-items: center;
}
.recommendation-article .s-logo {
  background: no-repeat center;
  background-image: url("./img/logo.jpg");
  background-size: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}

.more-btn {
  display: flex;
  justify-content: center;
}
.more-btn button {
  width: 100%;
  padding: 20px;
  border: none;
  border-radius: 10px;
  background-color: white;
  font-weight: 600;
}
.more-btn span {
  color: #00a2ff;
}

aside {
  width: 420px;
}
aside .login {
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-bottom: 20px;
}
aside .login-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
aside .login-header {
  margin-bottom: 15px;
  font-size: 14px;
}
aside .login-naver {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 15px;
  padding: 20px;
  border-radius: 5px;
  background-color: #03c75a;
}
aside .login-naver:hover {
  text-decoration: none;
  background-color: #04a74d;
}
aside .login-naver div:first-child {
  background: no-repeat center;
  background-image: url("./img/naver.png");
  background-size: 100%;
  width: 100px;
}
aside .login-naver div:last-child {
  color: white;
}
aside .login-find {
  font-size: 14px;
  color: #666;
}
aside .weather {
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-bottom: 20px;
}
aside .weather-wrap {
  padding: 20px;
}
aside .weather-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid lightgray;
}
aside .weather-title div:first-child {
  display: flex;
  align-items: center;
}
aside .weather-title div:first-child a:nth-child(1) {
  margin-right: 5px;
  font-weight: 600;
}
aside .weather-title div:first-child a:nth-child(2) {
  width: 80px;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 20px;
  font-size: 12px;
  text-decoration: none;
}
aside .weather-title div:first-child a:nth-child(2):hover {
  background-color: #eeeeee;
}
aside .weather-title div:first-child a:nth-child(2)::before {
  content: "";
  display: inline-block;
  background: no-repeat center;
  background-size: 15px;
  background-image: url("./img/tem.png");
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-right: 5px;
}
aside .weather-location {
  font-size: 14px;
}
aside .weather-inner {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
aside .weather-inner .temperature {
  display: flex;
  flex-direction: column;
}
aside .weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
aside .weather-info-now {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
aside .weather-info-now img {
  width: 60px;
  margin-right: 10px;
}
aside .weather-info-now div:first-child {
  font-size: 40px;
  margin-bottom: 5px;
}
aside .weather-info-now div:last-child {
  font-size: 14px;
}
aside .weather-info-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
}
aside .weather-info-detail div:nth-child(1) {
  margin-bottom: 10px;
}
aside .weather-info-detail div:nth-child(1) span:nth-child(1) {
  color: lightskyblue;
}
aside .weather-info-detail div:nth-child(1) span:nth-child(2) {
  color: red;
}
aside .weather-info-detail div:nth-child(2) span {
  color: lightskyblue;
}
aside .weather-info a {
  text-decoration: none;
}
aside .weather-graph {
  width: 50%;
  border: 1px solid lightgray;
}
aside .stock {
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-bottom: 20px;
}
aside .stock-wrap {
  padding: 20px;
}
aside .stock-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid lightgray;
}
aside .stock-title button:nth-child(2) {
  width: 20px;
  border: 1px solid lightgray;
  border-radius: 50%;
  background-color: white;
  color: lightgray;
}
aside .stock-title .reload {
  display: block;
  background: no-repeat center;
  background-image: url("./img/reload.png");
  background-size: 20px;
  width: 30px;
  height: 20px;
  border: none;
}
aside .stock-time {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
}
aside .stock-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
aside .stock-info div:first-child {
  width: 50%;
}
aside .stock-info div:last-child {
  width: 50%;
}
aside .stock-info div:last-child ul li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding: 10px 0px;
}
aside .widget {
  border: 1px solid lightgray;
  border-radius: 10px;
  background-color: #f4f6fa;
}
aside .widget-wrap {
  padding: 20px;
}
aside .widget-title {
  font-weight: 600;
  margin-bottom: 20px;
}
aside .widget-inner {
  display: flex;
  flex-wrap: wrap;
}
aside .widget-inner article {
  width: calc(50% - 5px);
  height: 200px;
  margin-bottom: 10px;
  margin-right: 5px;
  border-radius: 10px;
  background-color: white;
}
aside .widget-calendar {
  border: 1px solid lightgray;
  padding: 20px;
}
aside .widget-calendar div:nth-child(1) {
  margin-bottom: 10px;
  font-weight: 600;
}
aside .widget-calendar div:nth-child(2) {
  margin-bottom: 80px;
}
aside .widget-calendar span:nth-child(1) {
  font-size: 36px;
  margin-right: 5px;
}
aside .widget-memo {
  border: 1px solid lightgray;
}
aside .widget-memo div {
  font-weight: 600;
  color: white;
  background-color: #03c75a;
  margin-bottom: 105px;
  padding: 20px;
  border-radius: 10px 10px 0px 0px;
}
aside .widget-memo a {
  padding-left: 20px;
}
aside .widget-papago {
  border: 1px solid lightgray;
  padding: 20px;
}
aside .widget-papago img {
  width: 80px;
}
aside .widget-papago div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 150px;
}
aside .widget-papago button {
  width: 120px;
  height: 40px;
  border-radius: 30px;
  border: none;
  color: white;
  font-weight: 600;
  background-color: #00a2ff;
}
aside .widget-papago button:hover {
  background-color: #0285d1;
}
aside .widget-dictionary {
  border: 1px solid lightgray;
  padding: 20px;
}
aside .widget-dictionary span {
  font-weight: 600;
}
aside .widget-dictionary p {
  height: 55%;
  margin-top: 20px;
  font-size: 20px;
}
aside .widget-dictionary p:hover {
  font-size: 0px;
}
aside .widget-dictionary p:hover::before {
  font-size: 16px;
  content: "무엇을 먹어야 할지 아는 것은 매우 혼란스럽다";
}
aside .widget-dictionary div {
  display: flex;
  justify-content: flex-end;
}
aside .widget-dictionary div button {
  display: block;
  background: no-repeat center;
  background-image: url("./img/search.png");
  background-size: 25px;
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 50%;
}
aside .widget-dictionary div button:hover {
  background: no-repeat center;
  background-image: url("./img/search-w.png");
  background-size: 25px;
  background-color: #004f7c;
  background-position: 93%;
  width: 150px;
  border-radius: 20px;
}
aside .widget-dictionary div button:hover {
  padding: 10px;
}
aside .widget-dictionary div button:hover::before {
  content: "단어 검색하기";
  font-size: 14px;
  margin-right: 15px;
  color: white;
  font-weight: 600;
}
aside .widget-now {
  padding: 20px;
  border: 1px solid lightgray;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
}
aside .widget-now img {
  width: 50px;
  margin-bottom: 10px;
}
aside .widget-now ul {
  display: flex;
}
aside .widget-now ul div {
  border: 1px solid lightgray;
  border-radius: 10px;
  width: 90px;
  height: 120px;
  margin: 0px 10px 15px 0px;
}
aside .asdie-open-mobile {
  padding: 0px 20px 20px;
  display: flex;
  justify-content: space-between;
}
aside .asdie-open-mobile div {
  display: flex;
  align-items: center;
}
aside .asdie-open-mobile .nlogo-small {
  display: block;
  background: no-repeat center;
  background-image: url("./img/nn.png");
  background-size: 20px;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
aside .asdie-open-mobile span:nth-child(2) {
  font-weight: 600;
  margin-right: 5px;
}

footer {
  font-family: "NanumBarunGothic";
  background-color: rgb(243, 243, 243);
  border-top: 1px solid lightgray;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer-wrap {
  width: 1280px;
  margin: 0 auto;
  font-size: 15px;
}
.footer-wrap .footer-notice {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.footer-wrap .footer-notice a:first-child {
  font-weight: 600;
  margin-right: 10px;
}
.footer-wrap .footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
.footer-wrap .footer-info h3 {
  font-weight: 600;
  margin-right: 20px;
}
.footer-wrap .footer-info .creators,
.footer-wrap .footer-info .partners,
.footer-wrap .footer-info .developers {
  display: flex;
  flex-direction: row;
  margin: 20px 0px;
}
.footer-wrap .footer-info .creators a,
.footer-wrap .footer-info .partners a,
.footer-wrap .footer-info .developers a {
  margin: 0px 10px;
}
.footer-wrap .footer-info-right {
  display: flex;
}
.footer-wrap .footer-info-right .footer-whale {
  margin-right: 50px;
}
.footer-wrap .footer-info-right .footer-whale,
.footer-wrap .footer-info-right .footer-project {
  display: flex;
  flex-direction: row;
}
.footer-wrap .footer-info-right .footer-whale div,
.footer-wrap .footer-info-right .footer-project div {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.footer-wrap .footer-info-right .footer-whale span:first-child,
.footer-wrap .footer-info-right .footer-project span:first-child {
  font-weight: 600;
  margin-bottom: 10px;
}
.footer-wrap .footer-info-right .footer-whale span:last-child,
.footer-wrap .footer-info-right .footer-project span:last-child {
  font-size: 14px;
}
.footer-wrap .footer-info-right .footer-whale img,
.footer-wrap .footer-info-right .footer-project img {
  width: 40px;
  height: 40px;
}
.footer-wrap .footer-info-bottom .bottom-wrap {
  display: flex;
  justify-content: center;
  margin: 40px 0px;
}
.footer-wrap .footer-info-bottom .bottom-wrap a {
  margin: 0px 10px;
}
.footer-wrap .footer-info-bottom .bottom-wrap a:nth-child(5),
.footer-wrap .footer-info-bottom .bottom-wrap a:nth-child(9) {
  font-weight: 600;
}/*# sourceMappingURL=index.css.map */