@mixin center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    box-sizing: border-box;
}
header,
main {
    width: 70%;
    margin: 10px auto;
}

.header-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-btn {
        display: flex;
        flex-direction: row;
    }
}
.hamburger-btn {
    width: 50px;
    height: 50px;
    border: none;

    background: no-repeat center;
    background-image: url("./img/ham.png");
    background-size: 70px;
}
// block속성으로 바꿔서 하는게 맞는건지..
.naverpay-btn {
    display: block;
    width: 50px;
    height: 50px;

    background: no-repeat center;
    background-image: url("./img/pay.png");
    background-size: 35px;
}
.notice-btn {
    display: block;
    width: 50px;
    height: 50px;

    background: no-repeat center;
    background-image: url("./img/noti.png");
    background-size: 70px;
}

.naver-search-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.naver-search {
    width: 700px;
    height: 60px;

    border: 1px solid #03c75a;
    border-radius: 30px;
}

//넓이를 퍼센트로 잡는부분
.menu-icon {
    display: flex;
    justify-content: space-around;

    width: 50%;
    margin: 0 auto;
    flex-direction: row;
}

.mail > a {
    @include center;
}

.img-btn {
    width: 50px;
    height: 50px;

    background: no-repeat center;
    background-image: url("./img/mail.png");
    background-size: 130px;
}

.section-wrap {
    display: flex;

    margin-top: 50px;
}

.section-left {
    width: 65%;
    margin-right: 30px;

    &-news {
        border: 1px solid lightgray;
        border-radius: 10px;
        margin: 0px auto 20px;
    }
}
.news-wrap {
    border-bottom: 1px solid lightgray;
    padding: 20px;
}
.news-header {
    display: flex;
    flex-direction: row;

    margin-bottom: 20px;
    font-size: 17px;
    color: #999;

    a {
        margin: 0px 8px;
        color: #666;

        // &:first-child {
        //     margin-left: 0px;
        // }
        // &:last-child {
        //     margin-right: 0px;
        // }
    }
}
.news-title {
    display: flex;
    justify-content: space-between;

    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}
.news-list {
    display: flex;
    flex-wrap: wrap;

    li {
        display: flex;
        justify-content: center;

        width: calc(100% / 6);

        border: 1px solid lightgray;
        padding: 20px 0px;
    }
}
.more-news {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;

    div {
        margin: 0 10px;
    }

    button {
        font-size: 18px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid lightgray;
        background-color: white;
    }
}

.section-left-recommendation {
    border: 1px solid lightgray;
    border-radius: 10px;
}
.recommendation-wrap {
    border-bottom: 1px solid lightgray;
    padding: 20px;
}
.recommendation-header {
    display: flex;
    flex-direction: row;

    margin-bottom: 20px;
    font-size: 17px;
    color: #999;

    a {
        color: #666;
        margin: 0 8px;

        // &:first-child {
        //     margin-left: 0px;
        // }
        // &:last-child {
        //     margin-right: 0px;
        // }
    }
}
.list-btn-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    padding: 5px;

    div {
        padding-right: 10px;
        font-weight: 600;
        font-size: 15px;
    }
}

.list-btn {
    display: flex;

    li {
        margin-right: 3px;
    }

    & > li button {
        width: 60px;
        height: 40px;
        font-size: 16px;

        border: 1px solid lightgray;
        background-color: white;
        border-radius: 20px;
    }
    & > li:nth-child(2) button {
        border: 1px solid lightblue;
    }

    & > li:nth-child(7) button {
        width: 90px;
    }
}

.article-wrap {
    display: flex;
    flex-wrap: wrap;
}

//선택자
.recommendation-article {
    display: flex;
    flex-direction: column;

    width: calc(100% / 4);
    // width: 180px;
    margin-top: 10px;
    margin: 10px 10px 0px 0px;

    img {
        height: 120px;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    div:nth-child(2) {
        margin-bottom: 5px;
    }

    div:nth-child(3) {
        display: flex;
        align-items: center;
    }

    div:nth-child(1) {
        background: no-repeat center;
        background-image: url("./img/logo.jpg");
        background-size: 20px;

        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 5px;
    }
}
.more-btn {
    display: flex;
    justify-content: center;

    button {
        width: 100%;
        padding: 20px;
        border: none;
        border-radius: 10px;
        background-color: white;

        font-weight: 600;
    }
}

//오른쪽부분
.section-right {
    width: 35%;

    .login {
        border: 1px solid lightgray;
        border-radius: 10px;
        margin-bottom: 20px;

        &-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;

            padding: 20px;
        }

        &-header {
            margin-bottom: 15px;
        }

        &-naver {
            display: flex;
            justify-content: center;

            width: 100%;
            margin-bottom: 15px;
            padding: 20px;
            border-radius: 5px;
            background-color: #03c75a;

            div:first-child {
                background: no-repeat center;
                background-image: url("./img/naver.png");
                background-size: 100%;

                width: 100px;
            }
            div:last-child {
                color: white;
            }
        }
    }

    .weather {
        border: 1px solid lightgray;
        border-radius: 10px;
        margin-bottom: 20px;

        &-wrap {
            padding: 20px;
        }

        &-title {
            display: flex;
            justify-content: space-between;
            padding-bottom: 20px;

            border-bottom: 1px solid lightgray;

            div:first-child {
                display: flex;
            }
        }
    }
    .stock {
        border: 1px solid lightgray;
        border-radius: 10px;
    }
}
//footer

footer {
    background-color: rgb(243, 243, 243);
    border-top: 1px solid lightgray;
}
.footer-wrap {
    width: 70%;
    margin: 0 auto;
    padding-top: 60px;

    .footer-notice {
        display: flex;
        justify-content: space-between;

        padding: 20px 0px;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }

    .footer-info {
        .creators {
            display: flex;
            flex-direction: row;

            a {
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }
}
