@mixin center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    box-sizing: border-box;
}
header,
main {
    width: 70%;
    margin: 10px auto;
}

.header-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-btn {
        display: flex;
        flex-direction: row;
    }
}
.hamburger-btn {
    width: 50px;
    height: 50px;
    border: none;

    background: no-repeat center;
    background-image: url("./img/ham.png");
    background-size: 70px;
}
// block
.naverpay-btn {
    display: block;
    width: 50px;
    height: 50px;

    background: no-repeat center;
    background-image: url("./img/pay.png");
    background-size: 35px;
}
.notice-btn {
    display: block;
    width: 50px;
    height: 50px;

    background: no-repeat center;
    background-image: url("./img/noti.png");
    background-size: 70px;
}

.naver-search-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.naver-search {
    width: 700px;
    height: 60px;

    border: 1px solid #03c75a;
    border-radius: 30px;
}

//넓이를 퍼센트로 잡는부분
.menu-icon {
    display: flex;
    justify-content: space-around;

    width: 50%;
    margin: 0 auto;
    flex-direction: row;
}

.mail > a {
    @include center;
}

.img-btn {
    width: 50px;
    height: 50px;

    background: no-repeat center;
    background-image: url("./img/mail.png");
    background-size: 130px;
}

.section-wrap {
    display: flex;

    margin-top: 50px;
}

.section-left {
    width: 65%;
    margin-right: 30px;

    &-news {
        border: 1px solid lightgray;
        border-radius: 10px;
        margin: 0px auto 20px;
    }
}
.news-wrap {
    border-bottom: 1px solid lightgray;
    padding: 20px;
}
.news-header {
    display: flex;
    flex-direction: row;

    margin-bottom: 20px;
    font-size: 17px;
    color: #999;

    a {
        margin: 0px 8px;
        color: #666;

        // &:first-child {
        //     margin-left: 0px;
        // }
        // &:last-child {
        //     margin-right: 0px;
        // }
    }
}
.news-title {
    display: flex;
    justify-content: space-between;

    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}
.news-list {
    display: flex;
    flex-wrap: wrap;

    li {
        display: flex;
        justify-content: center;

        width: calc(100% / 6);

        border: 1px solid lightgray;
        padding: 20px 0px;
    }
}
.more-news {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;

    div {
        margin: 0 10px;
    }

    button {
        font-size: 18px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid lightgray;
        background-color: white;
    }
}

.section-left-recommendation {
    border: 1px solid lightgray;
    border-radius: 10px;
}
.recommendation-wrap {
    border-bottom: 1px solid lightgray;
    padding: 20px;
}
.recommendation-header {
    display: flex;
    flex-direction: row;

    margin-bottom: 20px;
    font-size: 17px;
    color: #999;

    a {
        color: #666;
        margin: 0 8px;

        // &:first-child {
        //     margin-left: 0px;
        // }
        // &:last-child {
        //     margin-right: 0px;
        // }
    }
}
.list-btn-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    padding: 5px;

    div {
        padding-right: 10px;
        font-weight: 600;
        font-size: 15px;
    }
}

.list-btn {
    display: flex;

    li {
        margin-right: 3px;
    }

    & > li button {
        width: 60px;
        height: 40px;
        font-size: 16px;

        border: 1px solid lightgray;
        background-color: white;
        border-radius: 20px;
    }
    & > li:nth-child(2) button {
        border: 1px solid lightblue;
    }

    & > li:nth-child(7) button {
        width: 90px;
    }
}

.article-wrap {
    display: flex;
    flex-wrap: wrap;
}

//추천, 구독
.recommendation-article {
    display: flex;
    flex-direction: column;

    width: calc(100% / 4 - 10px);
    // width: 180px;
    margin-top: 10px;
    margin-right: 10px;
    // margin: 10px 10px 0px 0px;

    img {
        height: 120px;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    div:nth-child(2) {
        margin-bottom: 5px;
    }

    div:nth-child(3) {
        display: flex;
        align-items: center;
    }

    div:nth-child(1) {
        background: no-repeat center;
        background-image: url("./img/logo.jpg");
        background-size: 20px;

        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 5px;
    }
}
.more-btn {
    display: flex;
    justify-content: center;

    button {
        width: 100%;
        padding: 20px;
        border: none;
        border-radius: 10px;
        background-color: white;

        font-weight: 600;
    }
}

//오른쪽부분
.section-right {
    width: 35%;

    .login {
        border: 1px solid lightgray;
        border-radius: 10px;
        margin-bottom: 20px;

        &-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;

            padding: 20px;
        }

        &-header {
            margin-bottom: 15px;
        }

        &-naver {
            display: flex;
            justify-content: center;

            width: 100%;
            margin-bottom: 15px;
            padding: 20px;
            border-radius: 5px;
            background-color: #03c75a;

            div:first-child {
                background: no-repeat center;
                background-image: url("./img/naver.png");
                background-size: 100%;

                width: 100px;
            }
            div:last-child {
                color: white;
            }
        }
    }
    //날씨
    .weather {
        border: 1px solid lightgray;
        border-radius: 10px;
        margin-bottom: 20px;

        &-wrap {
            padding: 20px;
        }

        &-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 15px;

            border-bottom: 1px solid lightgray;

            div:first-child {
                display: flex;
                align-items: center;

                span {
                    margin-right: 5px;
                }

                a {
                    width: 80px;
                    padding: 5px;

                    border: 1px solid lightgray;
                    border-radius: 20px;
                }
            }
        }
        &-inner {
            display: flex;
            justify-content: space-between;
            margin: 20px 0px;

            .temperature {
                display: flex;
                flex-direction: column;
            }
        }

        &-info {
            display: flex;
            align-items: center;

            img {
                width: 60px;
            }
            div:first-child {
                font-size: 40px;
                margin-bottom: 5px;
            }
            div:last-child {
                font-size: 14px;
            }
        }
        &-graph {
            width: 50%;
            border: 1px solid lightgray;
        }
    }
    //주식
    .stock {
        border: 1px solid lightgray;
        border-radius: 10px;
        margin-bottom: 20px;

        &-wrap {
            padding: 20px;
        }
        &-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 15px;

            border-bottom: 1px solid lightgray;

            button:nth-child(2) {
                width: 20px;

                border: 1px solid lightgray;
                border-radius: 50%;
                background-color: white;
                color: lightgray;
            }
            .reload {
                display: block;
                background: no-repeat center;
                background-image: url("./img/reload.png");
                background-size: 20px;
                width: 30px;
                height: 20px;

                border: none;
            }
        }
        &-time {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 14px;
        }
        &-info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            div:first-child {
                width: 50%;
                // border: 1px solid lightgray;
            }

            div:last-child {
                width: 50%;

                ul {
                    li {
                        display: flex;
                        justify-content: space-between;

                        border-bottom: 1px solid lightgray;
                        padding: 10px 0px;
                    }
                }
            }
        }
    }
    //위젯
    .widget {
        border: 1px solid lightgray;
        border-radius: 10px;
        background-color: #f4f6fa;

        &-wrap {
            padding: 20px;
        }

        &-title {
            font-weight: 600;
            margin-bottom: 20px;
        }
        &-inner {
            display: flex;
            flex-wrap: wrap;

            article {
                width: calc(100% / 2 - 5px);
                height: 200px;

                margin-bottom: 10px;
                margin-right: 5px;

                border-radius: 10px;
                background-color: white;
            }
        }
        &-calendar {
            border: 1px solid lightgray;
            padding: 20px;

            div:nth-child(1) {
                margin-bottom: 10px;
                font-weight: 600;
            }
            div:nth-child(2) {
                margin-bottom: 80px;
            }
            span:nth-child(1) {
                font-size: 36px;
                margin-right: 5px;
            }
        }
        &-memo {
            border: 1px solid lightgray;

            div {
                font-weight: 600;
                color: white;
                background-color: #03c75a;

                margin-bottom: 105px;
                padding: 20px;
                border-radius: 10px 10px 0px 0px;
            }
            a {
                padding-left: 20px;
            }
        }
        &-papago {
            border: 1px solid lightgray;
            padding: 20px;

            img {
                width: 80px;
            }

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;

                height: 150px;
            }

            button {
                width: 120px;
                height: 40px;
                border-radius: 30px;
                border: none;
                color: white;
                font-weight: 600;
                background-color: #00a2ff;
            }
        }
        &-dictionary {
            border: 1px solid lightgray;
            padding: 20px;

            span {
                font-weight: 600;
            }
            p {
                margin-top: 20px;
                font-size: 20px;
            }
            div {
                display: flex;
                justify-content: flex-end;

                button {
                    display: block;
                    background: no-repeat center;
                    background-image: url("./img/search.png");
                    background-size: 25px;

                    padding: 20px;

                    border: 1px solid lightgray;
                    border-radius: 50%;
                }
            }
        }
        &-now {
            border: 1px solid lightgray;
            border-radius: 10px;
            background-color: white;
        }
    }
}

//footer
footer {
    background-color: rgb(243, 243, 243);
    border-top: 1px solid lightgray;
    padding-top: 60px;
    padding-bottom: 40px;
}
.footer-wrap {
    width: 70%;
    margin: 0 auto;
    font-size: 15px;

    .footer-notice {
        display: flex;
        justify-content: space-between;

        padding: 20px 0px;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }

    .footer-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid lightgray;

        h3 {
            font-weight: 600;
            margin-right: 20px;
        }

        .creators,
        .partners,
        .developers {
            display: flex;
            flex-direction: row;

            margin: 20px 0px;

            a {
                margin: 0px 10px;
            }
        }

        &-right {
            display: flex;

            .footer-whale {
                margin-right: 50px;
            }

            .footer-whale,
            .footer-project {
                display: flex;
                flex-direction: row;

                div {
                    display: flex;
                    flex-direction: column;
                    margin-right: 30px;
                }

                span:first-child {
                    font-weight: 600;
                    margin-bottom: 10px;
                }
                span:last-child {
                    font-size: 14px;
                }

                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }
        &-bottom {
            .bottom-wrap {
                display: flex;
                justify-content: center;
                margin: 40px 0px;

                a {
                    margin: 0px 10px;
                }
            }
        }
    }
}
